body {
  font-family: "Roboto Mono", monospace;
}
/*Header STARTS */
.navbar {
  background-color: #ffebeb;
  color: #0a0908;
}
.nav-link,
.navbar-brand,
.nav-link:hover,
.navbar-brand:hover {
  color: #001524;
  margin: 0 18px;
}

.active,
.active:hover {
  color: #000;
  font-weight: 600;
  border-radius: 12px;
}
/* Header ENDS */

/*Main STARTS */
.intro {
  width: 100%;
  height: 800px;
  color: #fff;
  background-color: #0a0908;
}
.name {
  font-size: 48px;
  font-weight: 400;
  padding-top: 250px;
}
.intro > h3 {
  font-size: 22px;
  font-weight: 200;
}
.links {
  margin: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#about {
  height: auto;
  width: 100%;
  color: #000;
  background-color: #f6f5f4;
}
#projects {
  height: auto;
  width: 100%;
  background-color: #e4d8c9;
}
#blog {
  height: auto;
  margin-bottom: 0;
  width: 100%;
}
/* Main ENDS */

/* Footer STARTS */
.footer {
  color: #fff;
  background-color: #0a0908;
}
#footer-below {
  margin: 0;
  padding: 12px;
  box-sizing: border-box;
}
/* Footer ENDS */
/* Media query*/
@media screen and (max-width: 480px) {
  .logo {
    width: 24px;
    height: 24px;
  }
}
